# Dependencies
/node_modules
/.pnp
.pnp.js

# Compiled Sanity Studio
/dist

# Temporary Sanity runtime
/.sanity

# Optional Sanity cache
sanity.cache

# Logs
/logs
*.log

# Coverage
/coverage

# Misc
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*
*.local